.banner-contact_us {
  height: 400px !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dib2nyadi/image/upload/v1539292095/DonaFit/diego-passadori-648141-unsplash.jpg');
  img {
    display: block;
    margin: 0 auto;
  }
    // border-top-color: red;

}
