.margin-top-medium {
  margin-top: 30px;
  background-color: transparent;
}

.margin-top-small {
  margin-top: 15px;
}

.content-center {
  text-align: center;
  align-itens: center;
}

.margin-top-big {
  margin-top: 50px;
}

.margin-bottom-big {
  margin-bottom: 50px;
}
