<div class="banner hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-content">
          <div class="content-title">
            <h2>AQUELA COMIDA CASEIRA</h2>
            <h3>ENTREGUE ONDE VOCÊ QUISER</h3>
            <h4>Não perca seu tempo. Dona Fit cozinha a comida da sua semana</h4>
          </div>
            <div class= "margin-top-big">
              <%= link_to "Faça Seu Pedido", '#comofunciona', class: "btn btn-primary  btn-xlarge" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="banner hidden-sm hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <div class="content-title">
            <h2>AQUELA COMIDA CASEIRA</h2>
            <h3>ENTREGUE ONDE VOCÊ QUISER</h3>
            <h4>Não perca seu tempo. Dona Fit cozinha a comida da sua semana</h4>
          </div>
            <div class= "margin-top-big">
              <%= link_to "Faça Seu Pedido", '#comofunciona', class: "btn btn-primary  btn-xlarge" %>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>


