<div class="section-medium">
  <div class="container">
    <div class="row">
      <div class="col-md-6 margin-top-medium">
        <h3>A Dona Fit</h3>
        <p class="margin-top-small">Dona Fit é uma verdadeira mãe de todo mundo! Uma cozinheira nata, que todos os dias elabora pratos saudáveis, saborosos e caseiros. Venha se tornar mais um cliente. Bla bla bla bla bla</p>
        <p>Dona Fit é uma verdadeira mãe de todo mundo! Uma cozinheira nata, que todos os dias elabora pratos saudáveis, saborosos e caseiros. Venha se tornar mais um cliente. Bla bla bla bla bla</p>
      </div>
      <div class="col-md-6 margin-top-big ">
        <div class="banner-donafit">

        </div>

      </div>
    </div>
  </div>
</div>
