<div class="section-medium">
  <div class="container">
    <div class="row  margin-top-medium">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-picture">
            <%= cl_image_tag("Foto1_e12idj.png", :height=>150, :crop=>"scale") %>
          </div>
            <div class="card-title">
              <h3>ISCA DE FRANGO</h3>
            </div>
            <div class="card-description">
              <p>Acompanhamento: Arroz Integral</p>
              <p>Molho: Madeira</p>
            </div>
            <div class="card-price">
              <p>R$10</p>
            </div>
            <div class="card-date">
              <p>10 a 14 de Agosto</p>
            </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-picture">
            <%= cl_image_tag("Foto1_e12idj.png", :height=>150, :crop=>"scale") %>
          </div>
            <div class="card-title">
              <h3>ESCONDIDINHO DE BATATA DOCE</h3>
            </div>
            <div class="card-description">
              <p>Acompanhamento: Macarrão</p>
              <p>Sobremesa extra</p>
            </div>
            <div class="card-price">
              <p>R$10</p>
            </div>
            <div class="card-date">
              <p>10 a 14 de Agosto</p>
            </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-picture">
            <%= cl_image_tag("Foto1_e12idj.png", :height=>150, :crop=>"scale") %>
          </div>
            <div class="card-title">
              <h3>STROGONOFF DE FRANGO</h3>
            </div>
            <div class="card-description">
              <p>Acompanhamento: Arroz Integral</p>
              <p>Salada Extra</p>
              <p></p>
            </div>
            <div class="card-price">
              <p>R$10</p>
            </div>
            <div class="card-date">
              <p>10 a 14 de Agosto</p>
            </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>


