<div class="section-small">
  <div class="container">
    <div class="row margin-top-medium">
      <div class="col-md-3 col-sm-12">
        <div class="content-center">
          <%= cl_image_tag("cooking_nooqnu.svg", :height=>150, :crop=>"scale") %>
          <div class="margin-top-small">
            <p>Dona Fit prepara as delícias com ingredientes selecionados e saudáveis</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="content-center">
          <%= cl_image_tag("open-menu_fbahhs.svg", :height=>150, :crop=>"scale") %>
          <div class="margin-top-small">
            <p>O cardápio semanal é disponibilizado todo Sábado</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="content-center">
          <%= cl_image_tag("ordering_rs8vjn.svg", :height=>150, :crop=>"scale") %>
          <div class="margin-top-small">
            <p>Você faz seu pedido abaixo ou via whatsapp</p>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-12">
        <div class="content-center">
          <%= cl_image_tag("delivery_qbux9q.svg", :height=>150, :crop=>"scale") %>
          <div class="margin-top-small">
            <p>Seu pedido é entregue onde você estiver</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




