<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% @cart.orders.each do |order| %>
        <p><%= order.meal.name %></p>
        <p><%= order.meal.description %></p>
        <p>R$ <%= order.meal.price %></p>
      <% end %>
    </div>
  </div>
</div>
