.section-small {
  background-color: white;
}


.section-medium {
  background-color: $bege;
}

.section-medium h3 {
  font-size: $header-small-size;
  font-weight: 200;

}

.section-medium p {
  font-size: $font-medium-size;
  font-weight: 200;

}
.section-menu {
  background-color: $light-green;
}

.menu-section {
  margin-bottom: 30px;
}

body {
background-color: white;
}

.section-donafit{
  // background-color: white;
  background-color: $bege;
}

.section-donafit h3 {
  font-size: $header-small-size;
  font-weight: 200;

}

.section-donafit p {
  font-size: $font-medium-size;
  font-weight: 200;

}
